.background_products {
  margin: 0;
  background-image: url('/storage/app/public/images/products/background_products.webp');
  background-size: cover;
}

.background_users {
  margin: 0;
  background-image: url('/storage/app/public/images/users/background_users.jpg');
  background-size: cover;
}

.background_register {
  margin: 0;
  background-image: url('/storage/app/public/images/register/background_register.jpg');
  background-size: cover;
}

.background_menus {
  margin: 0;
  background-image: url('/storage/app/public/images/menus/background_menus.webp');
  background-size: cover;
}

.h2 {
  color: whitesmoke;
}

.p1 {
  color: whitesmoke;
}

.header {
  background-color: #000000d5;
  border-style: ridge;
  border-color: hsl(216, 98%, 52%);
  border-radius: 10px;
}

.table {
  border-style: ridge;
  border-color: hsl(216, 98%, 52%);
  border-radius: 10px;
  background-color: #000000d5;
}

.smcontainer {
  max-width: 600px;
}

.label1 {
  font-weight: bolder;
  margin-left: 7px;
}


.toggle {
  --width: 50px;
  --height: calc(var(--width) / 2);
  --border-radius: calc(var(--height) / 2);

  display: inline-block;
  cursor: pointer;
}

.toggle__input {
  display: none;
}

.toggle__fill {
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  background: #dddddd;
  transition: background 0.2s;
}

.toggle__input:checked~.toggle__fill {
  background: #009578;
}

.toggle__fill::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: var(--height);
  width: var(--height);
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius);
  transition: transform 0.2s;
}

.toggle__input:checked~.toggle__fill::after {
  transform: translateX(var(--height));
}